%h1 This contest
1700 lbs of carbon reduced!
%img{:src => 'http://www.storyofstuff.com/images/fr-logo.gif', :height => '50px', :style => "border: 2px solid; background-color: yellow; padding: 10px;"}
%h1 Participating Teams
%ul
  - for team in @teams do
    %li
      Team 
      = team.name
      \-- Score
      = team.score
      pounds of CO2
      %img{:src => 'http://www.storyofstuff.com/images/fr-logo.gif', :height => '50px', :style => "border: 2px solid; background-color: yellow; padding: 10px;"}
    
    
  
