%h1 This contest
1700 lbs of carbon reduced!
[ Graphic ]
%h1 Participating Teams
%ul
  - for team in @teams do
    %li
      Team 
      = team.name
      \-- Score
      = team.score
      pounds of CO2
      [ Graphic ]
    
    
  
