config/*.yml
log
tmp
.DS_Store
doc/api
doc/app
coverage
db/*.sqlite3
*.swp
public/stylesheets/*.css
config/session_secret.txt
config/initializers/site_keys.rb
config/initializers/hoptoad.rb
public/contests
.#*
