%h1 Thank you for your pledge!
.pledge-impact
  %p
    %h3 If you meet your pledge, you will have the following impact:
    %img{:src => 'http://www.storyofstuff.com/images/fr-logo.gif', :height => '50px', :style => "border: 2px solid; background-color: yellow; padding: 10px;"}

.team-pledge
  %p
    %h3 If your entire team meets their pledges, you will collectively have the following impact:
    %img{:src => 'http://www.storyofstuff.com/images/fr-logo.gif', :height => '50px', :style => "border: 2px solid; background-color: yellow; padding: 10px;"}

.tell-a-friend
  = render :partial => 'shared/tell_a_friend'
