%h1 Thank you for your pledge!
.pledge-impact
  If you meet your pledge, you will have the following impact:
  \# pounds of carbon
  [ Graphic ]

.team-pledge
  This is how your team is pledging so far.
  %p
    400 lbs of carbon reduced in the last 3 weeks
    [ Graphic ]

.tell-a-friend
  = render :partial => 'shared/tell_a_friend'
