%h1 Thank you for your pledge!
.participant-impact
  Given your means of transportation to school, you have the following impact:
.team-pledge
  This is how your team is pledging so far.
.tell-a-friend
  = render :partial => 'shared/tell_a_friend'
