- contest.weeks.each do |week_start|
  .stattext{ :class => cycle( 'alt', '' ) }
    %span 
      Week of 
      = week_start.strftime( "%b %d, %Y")
    %p 
      - weekly_impact = ( source.impact_for_week_starting(week_start) || 0.0 ).to_f.round_to(1)

      -#.bar{ :style => "background-position: #{ -512 + (weekly_impact.to_i/3)}px 0;" }
      = weekly_impact
      pounds of CO2

