- content_for :header do
  %h1 Pledges

= link_to "export list", formatted_admin_pledges_path( :format => 'csv'), :class => 'export button'
%ul
  - for pledge in @pledges
    %li
      = render :partial => 'pledge', :object => pledge
