%h2 Participants
%ul
  - for participant in @participants
    %li
      = render :partial => 'participant', :object => participant

= link_to "export list", "export", :class => 'export button', :onclick => "alert('Export in CSV format'); return false;"
