%p
  Dear Blake,
%p
  Hey, your team at Go Green wants to know how you got to school last week.  Did you meet your pledge? 
  There are just 4 weeks to go!
%p
  = link_to 'your week\'s commute', new_report_path
%p
  = link_to "Stop sending me email", "stop", :onclick => 'alert( "User is prevented from receiving further email" );'
