%h1
  Thanks for reporting

%h2
  Your pledge:
  %p 
    Carpool 3 days a week

%h2
  Your carbon reduction to date:

%h2
  Your team's carbon reduction to date:

%h2
  Your team vs the other stupid teams

%h2
  = render :partial => 'shared/tell_a_friend'
