%h1
  Thanks for reporting

%h2
  Your pledge:
  %p 
    Carpool 3 days a week

%h2
  Your carbon reduction to date:
%p
  \# of pounds
  [ Graphic ]

%h2
  Your team's carbon reduction to date:
%p
  \# of pounds
  [ Graphic ]

%h2
  Your team vs the other loser teams
%p
  [ Graphic ]

%h2
  = render :partial => 'shared/tell_a_friend'
