%p
  How did you reduce your carbon impact this week?

- form_for @report do |f|
  %table
    %tr
      %td
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
    %tr
      %td Walking/Biking
    %tr
      %td Public Transit
    %tr
      %td Carpooling
