.headertext
  %ul.mainnav
    %li
      %a.about{ :href => "#" }
        ABOUT US
    %li
      = link_to "SPARE OUR PLANET", contest_path(1), :class => 'planet'
    %li
      %a.parents{ :href => "#" }
        FOR PARENTS
    %li.active
      %a.contact{ :href => "#" }
        CONTACT US
  .newsletter
    %h2
      Newsletter Signup
    %form{ :action => "#" }
      %fieldset
        %input.text{ :type => "text", :value => "your email address" }/
        %input.image{ :src => "images/submit.jpg", :type => "image" }/

