.headertext
  %ul.mainnav
    %li
      %a.about{ :href => "#" }
        ABOUT US
    %li
      = link_to "SPARE OUR PLANET", contest_path(1), :class => 'planet'
    %li
      %a.parents{ :href => "#" }
        FOR PARENTS
    %li.active
      %a.contact{ :href => "#" }
        CONTACT US
  .newsletter
    %h2
      Newsletter Signup
    - form_for :newsletter_subscription, :url => newsletter_subscriptions_path, :html => { :method => :post } do |f|
      %fieldset
        = f.text_field :email, :value => "your email address", :class => 'text'
        = image_submit_tag "gogreen/submit.jpg"

